body {
  background-color: #ffffff;
}

h1 {
  align-items: center;
  text-align: center;
  color: #363636;
}

.container {
  margin-top: 30px;
}

.card-footer {
  background-color: #343a40;
  color: #adb5bd; 
}

#footer-author {
  text-align: right;
}

#footer-author-icon {
  width: 4%;
  border-radius: 50%;
  overflow: hidden;
}