:root {
  --bg-color: #ffffff;
  --title-color: #363636;
  --card-footer-color: #343a40;
  --card-footer-text-color: #adb5bd;
}

body {
  background-color: var(--bg-color);
}

h1 {
  align-items: center;
  text-align: center;
  color: var(--title-color);
}

.container {
  margin-top: 30px;
}

.card-footer {
  background-color: var(--card-footer-color);
  color: var(--card-footer-text-color); 
}

#footer-author {
  text-align: right;
}

#footer-author-icon {
  width: 4%;
  border-radius: 50%;
  overflow: hidden;
}