:root {
  --button-color: #73a3eb;
  --button-hover-color: #459aef;
  --bg-color: #FFFFFF;
  --good-fortune-color: #e74c3c;
  --bad-fortune-color: #000000bf;
  --middle-fortune-color: #5eb95e;
  --desc-color: #7f7f7f;
  --date-color: #096e1bC9;
  --special-event-color: #3e4fbb;
  --days-to-special-event-color: #485ccd;
  --title-color: #000000CC;
}

.dark-mode {
  --button-color: #5d99f4;
  --button-hover-color: #9ac6f1;
  --bg-color: #1e1d24;
  --good-fortune-color: #e74c3c;
  --bad-fortune-color: #d4d4d4d9;
  --middle-fortune-color: #57c857;
  --desc-color: #838282;
  --date-color: #0ed64aed;
  --special-event-color: #6477f3;
  --dark-mode-icon-color: #ffffff;
  --title-color: #cdcdcd;
}


* {
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 800px;
  position: absolute;
  z-index: 1;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  border-radius: 40px;
  padding: 10px;
}

.good-fortune {
  color: var(--good-fortune-color) !important;
}

.bad-fortune {
  color: var(--bad-fortune-color) !important;
}

.middle-fortune {
  color: var(--middle-fortune-color) !important;
}

.desc {
  color: var(--desc-color);
}

.date-color {
  color: var(--date-color);
}

.title {
  color: var(--title-color);
}

.special-event {
  color: var(--special-event-color);
}

button {
  background-color: var(--button-color);
  color: var(--bg-color);
  z-index: 2;
  font-size: 20px;
  border: none;
  padding: 20px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--button-hover-color);
}

#Matrix {
  z-index: 0;
}

#dark-mode-icon {
  margin-top: 15px;
  font-size: 2.4rem;
  color: var(--dark-mode-icon-color);
  cursor: pointer;
  opacity: 85%;
}