:root {
  --button-color: #73a3eb;
  --button-hover-color: #459aef;
  --bg-color: #FFFFFF;
}

.dark-mode {
  --button-color: #5d99f4;
  --button-hover-color: #9ac6f1;
  --bg-color: #1e1d24;
}


* {
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 800px;
  position: absolute;
  z-index: 1;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  border-radius: 40px;
  padding: 10px;
}

.left-result {
  color: #e74c3c !important;
}

.right-result {
  color: #000000bf !important;
}

button {
  background-color: var(--button-color);
  color: var(--bg-color);
  z-index: 2;
  font-size: 20px;
  border: none;
  padding: 20px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--button-hover-color);
}

#Matrix {
  z-index: 0;
}

#dark-mode-icon {
  margin-top: 15px;
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
  opacity: 85%;
}