:root {
  --button-color: #9dc4ff;
  --button-hover-color: #5ca8f3;
  --bg-color: #ffffffd7;
  --text-color: #000000;
}

.dark-mode {
  --button-color: #66a1fa;
  --button-hover-color: #8ec1f4;
  --bg-color: #1b1919d7;
  --dark-mode-icon-color: #ffffff;
  --text-color: #ffffff;
}

html {
  background: #282828;
  height: 100%;
  text-align: center;
  overflow: hidden;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#Matrix {
  z-index: 0;
}

.container {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 70px;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.quote-container {
  margin: 10px;
}

button {
  background-color: var(--button-color);
  color: var(--bg-color);
  font-size: 25px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  padding: 17px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--button-hover-color);
}

#dark-mode-icon {
  margin-top: 15px;
  font-size: 2.4rem;
  color: var(--dark-mode-icon-color);
  cursor: pointer;
  opacity: 85%;
}
