* {
  overflow: hidden;
  text-align: center;
}

:root {
  --button-color: #9DC4FF;
  --button-hover-color: #5ca8f3;
  --white: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  top: 20%;
  left: 20%;
  width: 80%;
  max-width: 800px;
  position: absolute;
  z-index: 1;
  text-align: center;
  background-color: var(--white);
  border-radius: 30px;
  padding: 50px;
}

.generate-result {
  font-size: 24px;
  margin-bottom: 30px;
}

button {
  background-color: var(--button-color);
  color: var(--white);
  font-size: 20px;
  border: none;
  padding: 20px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--button-hover-color);
}

#Matrix {
  z-index: 0;
}